# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Environment files
*.env

# csproj and sln files
*.sln
*.csproj
*.vcxproj
/**/*.csproj
/**/**/**/*.sln
/**/**/**/bin
/**/**/**/obj
/**/**/**/.antlr
/**/**/**/.log
Patito/logs/*.log
# Visual Studio Code
.vscode/
/*/*/bin
/*/*/obj

# Zip files
*.zip

#Virtual Environments
regresion-lineal/.venv
.DS_Store
clasification/results/images/*.png
clasification/results/tables/*.csv
*/*.docx